// Removes default button styles
button,
.btn {
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  margin: 0;
  padding: rem(12) rem(16);
  text-align: center;
  text-decoration: none;
  transition: background-color .2s ease-in-out,
              border-color .2s ease-in-out,
              color .2s ease-in-out;
}

.btn {
  border-style: solid;
  border-width: 1px;
  font-family: font-name('primary');
  font-size: font-size('button');
}

/// Generate class buttons from $theme-buttons
///
/// @require {map} $theme-buttons - defines buttons in project
///
@each $name, $styles in $theme-buttons {
  .btn--#{$name} {
    @each $state, $values in $styles {
      @if $state == 'static' {
        @each $value, $key in $values {
          #{$value}: $key;
	      }
	    } @else {
        &:#{$state} {
          @each $value, $key in $values {
            #{$value}: $key;
          }
        }
      }
	  }
	}
}
