ul {
  padding-left: 10px;
  li {
    list-style: none;
    div {
      width: 400px;
      display: inline-block;
    }
  }
}

i:hover {
  cursor: pointer;
}
.plus {
  background-color: red;
}
.minus {
  background-color: green;
}
.ask {
  font-weight: bold;
}
.answer {
  margin-left: 30px;
  color: #3b4151;
}
